<h1>Seja bem-vindo!, hoje <%= Date.today%> é uma dia muito especial!</h1>
<p>
  Higor Amorim
</p>

<p>A soma de 1 + 1 = <%= 1 + 1%></p>
<p>Seu nome invertido é <%= 'Higor'.reverse%></p>
<% a = 'A'%>
<p>imprimindo o valor da variável a: <%= a%></p>
